%h1 Welcome!
%ul(data-role='listview')
  %li(data-icon="flat-mail")
    = link_to "質問に答える", {:controller => :answers, :action => :index}
  %li
    = link_to "質問を管理", {:controller => :questions, :action => :index}
